{% if site.data.socials.email %}
  <a href="mailto:{{ site.data.socials.email | encode_email }}" title="andreaneenu@gmail.com"><i class="fa-solid fa-envelope"></i></a>
{% endif %}
{% if site.data.socials.github_username %}
  <a href="https://github.com/{{ site.data.socials.github_username }}" title="andreaneenu"><i class="fa-brands fa-github"></i></a>
{% endif %}
{% if site.data.socials.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" title="Andrea Jose"><i class="fa-brands fa-linkedin"></i></a>
{% endif %}
{% if site.data.socials.twitter_username %}
  <a href="https://twitter.com/{{ site.data.socials.twitter_username }}" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
{% endif %}
{% if site.data.socials.scholar_userid %}
  <a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
{% endif %}
{% if site.data.socials.orcid_id %}
  <a href="https://orcid.org/{{ site.data.socials.orcid_id }}" title="ORCID"><i class="fa-brands fa-orcid"></i></a>
{% endif %}
{% if site.data.socials.rss_icon %}
  <a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed"><i class="fa-solid fa-rss"></i></a>
{% endif %}
